*{
margin: 0;
padding: 0;
}
  
body {
background-color: #161616;
}

h5 {
    color: #2a2c2e !important;
}

h4 {
    color: #2a2c2e !important;
}

h2 {
    color: #2a2c2e !important;
}

p {
    color: #151515 !important;
}

.classroom-body {
    background-color: #ffffff;
}

.header{
background-color: #000000;
}

.headerLogo{
display: flex;
justify-content: center;
padding:20px;
} 

.navbar-padding {
    padding: 20px !important;
}

.navbar-a-text {
    color: #FAFAFA !important;
}

    .navbar-a-text:hover {
        color: #FFD941 !important;
    }

.ul-align {
    align-items: center;
}

div h1 strong {
display: block;
text-align: center;
font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
/*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
color: white;
font-size: 50px;
padding: 10px 180px;
font-weight: 700 !important;
}

div h1 {
display: block;
text-align: center;
font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
/*Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
color: white;
font-size: 50px;
padding: 10px 180px;
font-weight: 700 !important;
}

b{
color: #ffd941;
font-weight: 700 !important;
}

.section3Video {
display: flex;
justify-content: center;
/*flex-direction: column;*/
align-items: center;
width: 100%;
padding: 10px;
}

.iframe-video {
    width: 700px; 
    height: 394px;
    border-radius: 15px;
    box-shadow: 0px -1px 30px -1px rgba(26,26,26, 0.8);
}

.video {
/* border: 1px solid #979755;*/
border-radius: 15px; 
box-shadow: 0px -1px 70px -15px rgba(255,217,65, 0.8);
}

.video-title {
    margin-top: 15px;
}

.video-spacing {
    letter-spacing: 0.8px;
}

.classroom-card {
    cursor: pointer;
}

    .classroom-card:hover {
    box-shadow: 0px -1px 30px -1px rgba(255,217,65, 0.8);
    }

.grow { 
    transition: all .2s ease-in-out; 
    }
    
    .grow:hover { 
    transform: scale(1.05); 
    }

.grow2 { 
    transition: all .2s ease-in-out; 
}
        
    .grow2:hover { 
    transform: scale(1.03); 
    box-shadow: 0px -1px 30px -1px rgba(255,217,65, 0.8);
    }

.btn-book-call {
    border-radius: 60px !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    border: #ffd941 !important;
    background-image: none !important;
    background-color: #ffd941 !important;
	font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; 
}

.link-style { 
    color: #165df4 !important;    
}
    
    .link-style:hover { 
        text-decoration: underline !important;
    }
    
    
.clickable {
    cursor: pointer;
}

.classroom-title {
    letter-spacing: 0.5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.classroom-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-style {
    color: #FAFAFA !important;
    background-color: #1A1A1A !important;
}

.accordion-cont {
    border: 1px solid #D2D2D2 !important;
}

.progress-container {
    height: 24px;
    border-radius: 33px;
}

.progress-style {
    background-color: #009e5d !important;
    border-radius: 33px;
    font-weight: bold;
}

.form-check-input:checked::before {
    background-color: #009e5d !important;
}

.buttonSection{
display: flex;
justify-content: center;
padding: 20px;    
}

iframe {
    overflow: hidden;
  }

.button {
align-items:center;
text-align: center;
background-image: linear-gradient(to left, #fafa00, white );
border: #fafa00;
color: #000000;
font-size: large;
/*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important; 
border-radius: 7px;
padding: 15px;
font-weight: 500;
list-style: none;
cursor: pointer; 
text-decoration: none;
}

.footer{
display: flex;
background-color: #000000;
align-items: center;
justify-content: center;
width: 100%;
flex-direction: column;
padding: 10px;    
}

.imgFooter{
padding: 20px;
}

.footer h6{
color: #9f9c9c;
}


@media (max-width: 500px) {
.video{
width: 400px;
height: 260px;
}

div h1 strong {
display: flex;
flex-direction:column;
text-align: center;
font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
color: white;
font-size: 25px;
padding: 10px 10px;
font-weight: 700 !important;
}

div h1 {
display: flex;
flex-direction:column;
text-align: center;
font-family: "Nunito Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; 
color: white;
font-size: 25px;
padding: 10px 10px;
font-weight: 700 !important;
}

.iframe-video {
    width: 100%; 
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px -1px 30px -1px rgba(26,26,26, 0.8);
}

.imgFooter img {
/*width: 120px;
height: 80px;*/
}

}